{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
    <div class="inner">
        <h1>{{ section.title }}</h1>
        <p><strong>{{ section.abstract }}</strong></p>
        {{ section.sectionText }}
    </div>
{% endblock %}